lxc:
http://lxc.teegra.net/
http://www.techrepublic.com/blog/opensource/how-to-create-lxc-system-containers-to-isolate-services/1299  great
http://glonek.co.uk/tips-tricks/lxc-on-ubuntu-howto-tutorial/ great
http://s3hh.wordpress.com/2010/06/18/lxc-0-7-0/   so grate
http://en.it-usenet.org/thread/11775/4048/   greate xml 
