host:

#for passthrough
CONFIG_DMAR_TABLE=y
CONFIG_INTEL_IOMMU=y
CONFIG_IRQ_REMAP=y
CONFIG_INTEL_IOMMU_DEFAULT_ON=y
CONFIG_PCI_MMCONFIG=y
CONFIG_PCI_STUB=m

#vhost
CONFIG_VHOST_NET=m

#macvtap
CONFIG_MACVLAN=m
CONFIG_MACVTAP=m

#SR-IOV
CONFIG_PCI_IOV=y

CONFIG_KSM=y

#
CONFIG_8139TOO=y


guest:

#virtio
CONFIG_VIRTIO=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_MMIO=y
#CONFIG_VIRTIO_RING=y

#for SR-IOV device
CONFIG_IGBVF=y

#to make sure the hard disk is recognized as sda
# CONFIG_BLK_DEV_PIIX is not set

# Enable the below for QEMU NIC model
CONFIG_NET_VENDOR_AMD=y
CONFIG_NE2K_PCI=y
CONFIG_PCNET32=y
CONFIG_8139CP=y
CONFIG_IGB=y
CONFIG_E100=y
CONFIG_E1000=y
CONFIG_E1000E=y
CONFIG_IXGB=y
CONFIG_IXGBE=y
CONFIG_IXGBE_DCB=y

只有这些我曾经打开他们没打开的
CONFIG_NET_9P_VIRTIO=y

CONFIG_8139CP=y
CONFIG_IGB=y
CONFIG_IXGB=y
CONFIG_IXGBE=y
CONFIG_IXGBE_DCB=y

